<div class = "m-1">
  <% if current_user.following?(user) %>
    <%= link_to public_user_relationships_path(user.id), method: :delete, class: "btn btn-primary btn-sm",remote: true do %>
      フォローを外す <i class="fas fa-user-times"></i>
    <% end %>
  <% else %>
    <%= link_to public_user_relationships_path(user.id), method: :post, class: "btn btn-success btn-sm",remote: true do %>
      フォローする <i class="fas fa-user-plus"></i>
    <% end %>
  <% end %>
</div>
