<div class='container'>
  <div class='row'>
    <div class="mx-auto col-sm-12 col-md-9 col-lg-9 px-5 px-sm-0">
      <h1>ジャンル編集</h1>
      <%= form_with model: [:admin,@genre],local: true do |f| %>
      <%= f.label :name, 'ジャンル名' %>
        <%= f.text_field :name, class: 'form-control' %>
      
        <%= f.submit '保存', class: 'btn btn-primary btn-block' %>
        
      <% end %>
    </div>
  </div>
</div>

