<div class='container'>
  <div class='row'>
    
   <div class="top col-12">
      <%= image_tag 'メイン画像.jpg', width: '100%' %>
      <h1>
        管理者トップ画面
      </h1>
    </div>
    
    <div class="mx-auto col-sm-12 col-md-8 col-lg-9 my-5">
      
      
      <%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-dark' %>
      <%= link_to "投稿一覧", posts_path,class: 'nav-link text-dark' %>
      <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark' %>
    </div>
    
  </div>
</div>
