<div class='container'>
  <div class='row'>
    
    <div class="mx-auto col-sm-8 col-md-8 col-lg-8 px-5 px-sm-0">
      <h1>Handmade.com　概要</h1>
      <p>ハンドメイド好きな人が自由に投稿するサイト</p>
    </div>
    
    <%= render 'layouts/sidebar', genres: @genres %>
    
  </div>
</div>

