@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// body {
//   background-image: image-url("hoge.jpg");
// }

 /* header */
header {
  height: 40px;
}

.navbar-toggler {
  margin-left: auto;
}

body {
 position: relative;
 padding-top: 70px; 
}

main {
  min-height: calc(100vh - 40px);
  padding-bottom: 50px;
  background-color: #f9ffff;
}

/* ログイン/新規登録フォーム */
label {
    width: 150px;
  }
  
  .field_with_errors {
  display: contents;
  text-align: center;
}
  
/* top */
.top {
  position: relative;
  height: 50%;
  }

.top h1 {
  position: absolute;
  color: #4b0082;
  font-weight: bold;
  font-size: 45px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  }
  
  /* about */
  .about {
  position: relative;
  height: 50%;
  }
  
  .about-box {
    display: flex;
  }
  
  .ex1 {
    width: 50%;
    display: flex;
    align-items: center;
  }
  
  .ex2 {
    width: 30%;
    display: flex;
    align-items: center;
  }
  
  .ex3 {
    width: 50%;
  }
  
  .ex4 {
    width: 40%;
  }

.about h1 {
  position: absolute;
  color: #006400;
  font-weight: bold;
  font-size: 45px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  text-align: center;
  font-family: 'Yusei Magic', sans-serif;
  }

  /* 退会画面 */
.fa-exclamation-triangle {
  stroke: #000000;
  stroke-width: 20px;
}

/* 会員ページ */
.img-object-fit-radius{
  padding:0 !important;
}
.img-object-fit-radius img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius:100%;
  box-shadow: 1px 2px 6px #808080;
}

/* 投稿一覧 */
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

/* 管理者ユーザー一覧 */
.img-admin-fit-radius{
  padding:0 !important;
}
.img-admin-fit-radius img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius:100%;
  box-shadow: 1px 2px 6px #808080;
}

/* 管理者トップ */
.admin-box {
  display: flex;
}

/* コメント */
.comment {
  display: flex;
}

.comment-box-1 {
  width: 30%;
}

.comment-box-2 {
  width: 40%;
}

.comment-box-3 {
  width: 20%;
}

.comment-box-4 {
  width: 20%;
}

.comment-score {
  display: block;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
}