<div class='container'>
  <div class='row'>
    
    <div class="mx-auto col-sm-12 col-md-8 col-lg-9 my-5">
      <h1>管理者一覧</h1>
      <table class='table table-hover table-inverse'>
        <tbody>
        <% @owners.each do |owner| %>
          <tr>
            <td class="img-admin-fit-radius"><%= image_tag owner.get_owner_image(100,100) %></td>
            <td>
              <%= link_to owner.name, admin_owner_path(owner.id) %>
            </td>
            <td>
              <%= link_to @owner, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger ml-5" do %>
                削除する <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      
      <%= paginate @owners, thema: 'twitter-bootstrap-4' %>
    </div>
    
  </div>
</div>