<div class='container'>
  <div class='row'>
    
    <div class="mx-auto col-sm-12 col-md-8 col-lg-9 my-5">
      <div class="text-center">
        <h1>管理人のページ</h1>
      </div>
      
      <div class="text-center mb-3">
        <p class="img-object-fit-radius">
          <%= image_tag @owner.get_owner_image(150,150) %>
        </p>
      </div>
      
      <div class="row">
        <div class="col-9 mx-auto">
          <table class='table'>
            <tr>
	            <th>名前</th>
	            <td><%= @owner.name %></td>
            </tr>
            <tr>
	            <th>メールアドレス</th>
	            <td><%= @owner.email %></td>
            </tr>
          </table>
        </div>
      </div>
      
      <div class='row'>
        <div class="col text-right">
          <%= link_to edit_admin_owner_path(current_admin), class: "btn btn-secondary" do %>
            編集する <i class="fas fa-user-cog"></i>
          <% end %>
        </div>
      </div>
    </div>
    
  </div>
</div>
