<div class='container'>
  <div class='row'>
    
    <div class="mx-auto col-sm-12 col-md-9 col-lg-9 px-5 px-sm-0">
      <h1>Posts#show</h1>
      <p>Find me in app/views/posts/show.html.erb</p>
    </div>
    
    <%= render 'layouts/sidebar', genres: @genres %>
    
  </div>
</div>
