<div class='container'>
  <div class='row'>
    <div class="mx-auto col-7 mt-4">
      <div class="text-center">
        <h2><i class="fas fa-exclamation-triangle" style="color: #ffff00;"></i> 退会お手続き</h2>
      </div>
      <p class="text-center">
        退会手続きをされますと、投稿やコメントなどがご利用いただけなくなります。<br>
        再度ご利用をいただく場合には、新規登録のお手続きが必要になります。<br>
        本当に退会してよろしいですか？
      </p>
      <div class="text-center">
        <%= link_to "退会する", public_user_withdrawal_path(current_user), method: :patch, data: { confilm: "本当に退会しますか？" }, class: "btn btn-outline-danger" %>
        <%= link_to "退会しない", public_user_path(current_user), class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>