<footer class ="bg-dark text-white">
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto text-center'>
    		<p>CopyRight Handmade.com.inc</p>
    	</div>
    </div>
  </div>
</footer>