<div class="col-3 mt-5">
  <table class="table table-bordered">
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %>
        <%= f.submit "検索", class: "btn btn-primary mx-1" %>
      <% end %>
    <thead>
      <tr>
        <th class="text-center">ジャンル</th>
      </tr>
    </thead>
    <% genres.each do |genre| %>
    <tbody>
      <tr>
        <td><%= genre.name %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>