<div class="col-3 mt-5">
  <table class="table table-bordered">
      <div class="search_form">
    <%= form_with(url: search_path, local: true, method: :get, class: "post-search-form") do |f| %>
   <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "post-search-input" %>
   <%= f.submit "検索", class: "btn btn-primary" %>
<% end %>
  </div>
    <thead>
      <tr>
        <th class="text-center">ジャンル</th>
      </tr>
    </thead>
    <% genres.each do |genre| %>
    <tbody>
      <tr>
        <td><%= genre.name %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>